@import url("style.css");

/* PinCrowd Bowling CSS Document (Frames view) */

/* Edit bowlers (remove, add, skip)
============================*/
#editBowlers { position:absolute; top:14px; left:0; }
	#editBowlers li { float:left; margin-left:14px; }
		#editBowlers a, .profile, #done, .removeBowler, #nextFrames, #previousFrames, th.name, #bowlNav a { text-indent:-9999px; }
		#editBowlers a, #done, #nextFrames, #previousFrames { background:url(../images/ui-buttons.png) no-repeat; height:46px; }
		a#remove { width:115px; }
			#remove:active { background-position:-280px 0; }
		a#add { background-position:-120px 0; width:75px; }
			#add:active { background-position:-400px 0; }
		a#skip { background-position:-200px 0; width:75px; }
			#skip:active { background-position:-480px 0; }
	/* Remove bowler */	
	.removeBowler { background:url(../images/ui-buttons.png) -521px -188px no-repeat; }
	#done { background-position:-432px -104px; width:87px; position:absolute; left:14px; top:14px; }
	#done:active { background-position:-524px -104px; }

/* Frames
============================*/
/* Table size and grid lines */
#frames { width:100%; height:672px; }
	#currentBowler { background:url(../images/black-wood-texture.jpg); color:#FFF; }
		td, .ball2, .ball3 { border-left:2px solid #AAA; }
		td { width:185px; vertical-align:top; }
			.cellContainer { position:relative; }
				.ball2, .ball3 { border-bottom:2px solid #AAA; }
		td.name, td.total { vertical-align:middle; }
		#bowlFinish td { width:183px; }
		.name, .divider td { border:none; }
	
/* Bowlers horizontal divider line */		
.divider { height:15px; }
	.divider td { padding:0; }

/* Bowlers
============================*/
/* Name and pic */		
td.name { padding:15px; font-size:45px; line-height:100px; width:287px !important; }
	img, .removeBowler { float:left; width:100px; height:100px; margin-right:10px; }
	img { float:left; border-radius:10px; }
	.profile { position:absolute; top:0; right:5px; background:url(../images/ui-buttons.png) -356px -167px no-repeat; height:25px; width:25px; }
		.profile:active { background-position:-386px -167px; }

/* Score
============================*/
.score { position:absolute; right:0; top:0; font-size:55px; }	
	.score li { float:right; }
	.ball1, .ball2, .ball3 { width:58px; height:58px; line-height:58px; text-align:center; }
	li.frameScore, .total { font-size:70px; }
	li.frameScore { padding:24px; }
	.total { text-align:center; }
	td a { color:#000; }
	
/* End of game options
============================*/
#nextGame { position:absolute; right:14px; top:14px; background:url(../images/ui-buttons.png) 0 -52px no-repeat; text-indent:-9999px; width:161px; height:46px; }
	#nextGame:active { background-position:-167px -52px; }
.finishOptions { margin:4px; }
.finishOptions li { margin-bottom:4px; }
.finishOptions .button { border:3px solid #FFF; border-radius:10px; padding:2px 4px 4px; font-size:18px; }

/* Footer
============================*/
th, footer { font-size:45px; padding:15px; height:46px; }
footer { height:71px; padding:5px 0 0; }
#nextFrames { background-position:0 -156px; position:absolute; right:14px; top:14px; width:170px; }
	#nextFrames:active { background-position:-178px -154px; }
#previousFrames { background-position:0 -104px; position:absolute; left:14px; top:14px; width:210px; }
	#previousFrames:active { background-position:-217px -104px; }

/* Icon navigation */
#bowlNav { width:265px; margin-left:405px; }
	#bowlNav li { margin-left:25px; }
		#bowlNav a { background:url(../images/nav-buttons.png) no-repeat; height:68px; }
			#standingsNav a { width:75px; background-position:-452px 0; }
				#standingsNav a:active, #standingsNav .current { background-position:-452px -73px; }
			#accountNav a { width:66px; background-position:-534px 0; }
				#accountNav a:active, #accountNav .current { background-position:-534px -73px; }