@import url("style.css");

/* PinCrowd Popups CSS Document (edit score, profile, etc.) */

/* General
============================*/
h1 { font-size:35px; }
h2 { font-size:25px; font-weight:normal; margin-top:0; }

/* Container
============================*/
.popup { text-align:center; border:5px solid #000; border-radius:25px; }

/* Header
============================*/
header { border-radius:20px 20px 0 0; padding:25px; }

/* Main content
============================*/
#main { padding:25px; }

/* Buttons
============================*/
.buttons { width:416px; }
	.buttons li { float:left; }
		.button { width:136px; }
		.buttons .button { margin:0 12px; }
		
/* Options bars
============================*/
.options li { float:left; }
	.options a, #fullGame thead { background:-webkit-linear-gradient(top, #ffffff 0%,#dcdcdc 50%,#c8c8c8 51%,#d2d2d2 68%,#c8c8c8 100%); /* Chrome10+,Safari5.1+ */ }
	.options a { color:#000; text-align:center; display:block; height:49px; line-height:46px; padding:0 25px; border-top:2px solid #000; border-bottom:2px solid #000; border-left:2px solid #000; }
	.first a { border-radius:10px 0 0 10px; }
	.last a { border-right:2px solid #000; border-radius:0 10px 10px 0; }
	a.na { color:#AAA; }

/* Edit score
============================*/
#editScore { width:622px; }
	#editScore .options a { width:49px; margin-bottom:25px; padding:0; line-height:52px; }

/* Profile
============================*/
/* Container */
.profile { width:550px; }
	.profile header { text-align:left; height:auto; }
		.profile h1 { font-size:55px; line-height:55px; }
		.profile header img { float:left; border-radius:5px; border:5px solid #FFF; margin-right:25px; }
		.profile span { display:block; }

/* Options bar */
.profile .options { margin:0 0 25px 38px; }

/* Stats */
#infoBlocks li { float:left; background:url(../images/black-wood-texture.jpg); border-radius:10px; color:#FFF; padding:10px; margin:10px; width:126px; }
	#infoBlocks p { font-size:35px; font-weight:bold; line-height:17px; }
	
/* Trophy case */
#trophies #infoBlocks li { width:93px; margin:6px; }
#trophies #infoBlocks h2 { font-size:15px; }

/* Standings
============================*/
#standings { width:968px; }
	#standings ul.options { float:left; margin-left:25px; }
	#standings ul#timespan { margin-left:69px; }
	#standingsTable { margin-top:25px; border-top:2px solid #000; border-left:2px solid #000; }
		#standingsTable .options a { padding:0 10px; border:0; }
		#standingsTable td, .options th, #standingsTable .name { border-right:2px solid #000; border-bottom:2px solid #000; }
		#standingsTable td { padding:10px; }
		th.name, .left { text-align:left; }
		#standingsTable td.selected { background:#000; color:#FFF; border-bottom-color:#333; }
		#standingsTable .name { width:177px; max-width:177px; padding:0 10px; word-wrap:break-word; }
		#standingsTable thead .name { padding:0; }
	
/* Account
============================*/
#account { width:440px; }
	#accountTable th, #accountTable td { padding-bottom:25px; }
	#account .button { margin:0 25px 0 0; }

/* Share
============================*/
#share { width:467px; }
	#share .buttons li { float:none; }
		#share .button { width:auto; margin:0 0 25px; }
		#share #facebook { margin-bottom:0; }

/* Full game view
============================*/
#fullGame { width:970px; font-size:20px; }
	#fullGameTable { margin:0; border-top:2px solid #000; border-right:2px solid #000; }
		#fullGameTable tr { height:57px; }
			#fullGameTable th, #fullGameTable td, .ball2, .ball3 { border-left:2px solid #000; border-bottom:2px solid #000; }
			#fullGameTable th, #fullGameTable td { width:35px; }
			#fullGameTable th { padding:10px; }
			#fullGameTable .name { width:145px; }
			thead th.name { text-align:center; }
			#fullGameTable .total { font-size:26px; }
			td { vertical-align:top; }
			td.name, td.total { vertical-align:middle; }
				.cellContainer { position:relative; }
					.score { position:absolute; right:0; top:0; }
						.score li { float:right; line-height:21px; }
						.ball1, .ball2, .ball3 { width:19px; height:22px; }
						.ball1, .ball2 { font-size:18px; }
						.frameScore { padding:0 7px; font-size:27px; }